.facilities {
  margin: 0 6px;
  padding-top: 72px;
}

.facilities h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 11px;
  flex-basis: 100%;

  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: $names;
}

.facilities h2::after {
  position: absolute;
  content: "";
  width: 73px;
  height: 2px;
  top: 50%;
  right: -88px;
  background-color: $names;
}

.facilities h3 {
  margin-top: 0;
  margin-bottom: 37px;
  width: 56%;
  font-family: "Lora", "Garamond", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: $features;
}

.facilities div:not(:first-child) {
  display: flex;
  justify-content: space-between;
}

.facilities__text {
  list-style: none;
  padding: 0;
}


