.faq {
  margin: 0 6px;
  padding-top: 59px;
  padding-bottom: 45px;
  text-align: center;
}

.faq h3 {
  margin: 40px auto 54px auto;
  padding-right: 10px;

  width: 57%;
  font-family: "Lora", "Garamond", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: $features;
}

.faq ul {
  list-style: none;
  padding: 0;
  margin-right: 12px;
  margin-bottom: 68px;
  display: flex;
  justify-content: space-between;
}

.faq__item {
  position: relative;
  padding: 42px 0 63px 0;
  width: 350px;

  box-shadow: 0 7px 7px 7px $shadow-light;
}

.faq__item--active {
  background-color: $accent;
  color: $white;
}

.faq__item p {
  width: 80%;
  margin: 0 auto;

  font-family: "Lora", "Garamond", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
}

.faq__item button {
  position: absolute;
  width: 64px;
  height: 48px;
  left: calc(50% - 27px);
  bottom: -24px;

  background-color: $accent;
  fill: $white;
  border: none;
}

.faq__item--active button {
  background-color: $white;
  fill: $accent;
}

.faq a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

  color: $accent;
  fill: $accent;
}

.faq span {
  padding-right: 19px;
}

.faq svg {
  margin-top: 2px;
}
