.features {
  margin: 0 6px;
  padding-top: 111px;
}

.features .wrap {
  display: flex;
  align-items: flex-start;
}

.features__picture {
  width: 48%;
}

.features__picture ul {
  list-style: none;
  padding: 0;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__picture li {
  width: 45%;
  margin: 26px 0;
  display: flex;
}

.features__picture svg {
  stroke: $features;
  fill: none;
}

.features__picture span {
  margin-bottom: 8px;

  font-family: "Lora", "Garamond", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: $features;
}

.features__picture p {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-left: 23px;

  font-size: 16px;
  line-height: 26px;
  color: $text;
}

.features__text {
  width: 48%;
  margin-left: 31px;
  padding: 39px 51px 33px 51px;

  background-color: $features;
  color: $white;
}

.features__text h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.features__text h2::after {
  position: absolute;
  content: "";
  width: 73px;
  height: 2px;
  top: 45%;
  right: -90px;
  background-color: $white;
}

.features__text h3 {
  margin-top: 0;
  margin-bottom: 26px;

  font-family: "Lora", "Garamond", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
}

.features__text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
