.footer {
  padding-top: 69px;
  padding-bottom: 77px;
  background-color: $background-footer;
  color: $white;
}

.footer .wrap {
  display: flex;
  margin: 0 6px;
}

.footer ul{
  list-style: none;
  padding: 0;
}

.footer__about {
  width: 23%;
  margin-right: 10.5%;
}

.footer__about p {
  margin-top: 12px;

  font-size: 16px;
  line-height: 26px;
  color: $footer-text;
}

.footer__about ul {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
}

.footer__about li {
  margin: 7px 16px 7px 0;
}

.footer__about a {
  display: block;
  fill: $white;
}

.footer__about a:hover,
.footer__about a:focus {
  fill: $accent;
}

