.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2px;
  width: 67%;

  color: $white;
}

.links a:hover,
.links a:focus {
  color: $accent;
}

.links ul {
  margin-top: 29px;
}

.links ul li {
  margin: 9px 0;

  font-size: 16px;
  line-height: 26px;
}

.links__contacts {
  width: 31%;
}

.links__contacts li {
  display: flex;
  align-items: baseline;
}

.links__contacts p {
  margin: 0;
  padding-right: 8px;
}

