.log-in ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 17px;
}

.log-in__item {
  color: $accent;
}

.log-in__item--active {
  color: $white;
  background-color: $accent;
}

.log-in__item a {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 24px;
}
