.slider-introduction {
  position: relative;
  margin: 0 6px;
  padding-top: 11px;
}

.slider-introduction .wrap {
  display: flex;
  flex-wrap: wrap;
}

.slider-introduction h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 11px;
  flex-basis: 100%;

  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: $names;
}

.slider-introduction h2::after {
  position: absolute;
  content: "";
  width: 73px;
  height: 2px;
  top: 55%;
  left: 10.5%;
  background-color: $names;
}

.slider-introduction h3 {
  margin-top: 0;
  margin-bottom: 37px;
  width: 65%;
  font-family: "Lora", "Garamond", serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 66px;
  color: $features;
}

.slider-introduction b {
  color: $accent;
}

.slider-introduction p {
  margin-top: 8px;
  width: 35%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: $main-text;
}

.slider-introduction__container {
  max-width: 1120px;
}

.slider-introduction__pagination {
  position: absolute;
  display: flex;
  z-index: 1;
  width: 102px;
  height: 4px;
  bottom: 43px;
  left: calc(50% - 57px);
}

.slider-introduction__pagination .swiper-pagination-bullet {
  margin: 0 2px;
  width: 16px;
  height: 4px;
  background-color: $white;
  opacity: 0.5;
}

.slider-introduction__pagination .swiper-pagination-bullet-active {
  width: 40px;
  background-color: $accent;
  opacity: 1;
}
