.slider-gallery {
  position: relative;
  padding-top: 95px;
}

.slider-gallery__text {
  position: absolute;
  width: 43%;
  top: 79px;
  right: 50px;
}

.slider-gallery h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 9px;
  flex-basis: 100%;

  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: $names;
}

.slider-gallery h2::after {
  position: absolute;
  content: "";
  width: 73px;
  height: 2px;
  top: 45%;
  right: -88px;
  background-color: $names;
}

.slider-gallery h3 {
  margin-top: 0;
  margin-bottom: 37px;
  font-family: "Lora", "Garamond", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: $features;
}

.slider-gallery__wrapper {
  display: flex;
  align-items: flex-end;
}

.slider-gallery__slide {
  height: 350px;
}

.slider-gallery__wrapper .swiper-slide-active {
  height: 606px;
}

.slider-gallery__button {
  position: absolute;
  display: inline-block;

  top: 38.5%;
  fill: $accent;
}

.slider-gallery__button svg {
  margin: 0 10px;
  width: 92px;
  height: 26px;
}

.slider-gallery .swiper-button-disabled {
  fill: $text;
}

.slider-gallery__button--prev {
  right: 39%;
}

.slider-gallery__button--next {
  right: 33.5%;
}
