// цвета
$white: #ffffff;
$black: #000000;
$accent: #ff5722;
$accent-shadow: rgba(255, 87, 34, 0.3);
$shadow: rgba(223, 223, 223, 0.7);
$shadow-light: rgba(223, 223, 223, 0.5);
$names: #222831;
$main-text: #6a6a6a;
$text: #9a9a9a;
$features: #10375C;
$scrollbar: #dfdfdf;
$background-news: rgba(223, 223, 223, 0.7);
$background-footer: #0d2c4a;
$footer-text: #f8f8f8;
